:root{
    --title-color:#0F172A;
    --paragraph-color:#475569;
    --btn-color:#2563EB;
    --contenaire-color:#581C87BF;
    /* couleur du degrade */
    --primary-color:#312E81;
    --secondary-color:#1E40AF;
    --third-color:#1E3A8A;
    --fourth-color:#701A75;
}